.file-input {
  display: none;
}

.panel-title {
  background-color: lightgray;
}

.result-image {
  width: 100%;
}

.result-image-solution {
  width: 100%;
}

.results {
  width: 100%;
}

.loading-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #454545;
  z-index: 100;
}
