<div class="loading-indicator"
     *ngIf="showLoading">
  <mat-spinner></mat-spinner>
</div>

<input type="file" class="file-input"
       requiredFileType="image/png"
       (change)="onFileSelected($event)" #fileUpload>
<div class="file-upload">

  {{fileName || "No file uploaded yet."}}

  <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

<mat-radio-group aria-label="Select an option"
                 [(ngModel)]="selectedMath"
                 (change)="mathChanged($event)"
>
  <mat-radio-button value="SMALL_ADDITION"
  >small addition (1+1)
  </mat-radio-button>

  <mat-radio-button value="SMALL_MULTIPLY"
  >small multiply (1x1)
  </mat-radio-button>
</mat-radio-group>

<mat-accordion class="results">
  <mat-expansion-panel
    expanded
    *ngIf="image"
  >
    <mat-expansion-panel-header
      class="panel-title"
    >
      <mat-panel-title>
        Image
      </mat-panel-title>
      <mat-panel-description>
        Image to paint
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img
      class="result-image-solution"
      src="data:image/png;base64,{{image}}"/>
  </mat-expansion-panel>
  <mat-expansion-panel
    *ngIf="imageWithSolution"
  >
    <mat-expansion-panel-header
      class="panel-title"
    >
      <mat-panel-title>
        Solution
      </mat-panel-title>
      <mat-panel-description>
        Image with solution
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img
      class="result-image-solution"
      src="data:image/png;base64,{{imageWithSolution}}"/>
  </mat-expansion-panel>
</mat-accordion>
